<%# BANNER %>
<div style="margin-top: 100px">
  <div class="banner-darker" class='mt-5 mt-lg-2' style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('<%= image_path 'speakers-banner.jpg'%>')">
    <h1>Training</h1>
  </div>
</div>

<div class="service-heading">
  <%# TITLE %>
  <div class="container mt-5">
    <div class='text-center'>
      <h1 class='my-5'>What we offer</h1>
      <p>We help businesses to assess, strategize, manage and communicate.
        TransTalents DE&I Consulting Academy helps businesses to assess, strategize,
        manage, and communicate to reach their DE&I goals with measurable KPIs on Purpose,
        Profit, and People.</p>
    </div>

    <%# CONTENT %>
    <div class="service-content">
      <div class="container">
        <div class="row">
          <%# CONTENT 1%>
          <div class="card h-100 col-12 col-md-6 pe-0 pe-md-3">
            <div class="row d-flex align-items-center">
              <div class="col-4 text-center text-lg-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="70%" height="auto" viewBox="0 0 120 150" fill="none">
                  <path d="M15.9375 9.375C14.197 9.375 12.5278 10.0664 11.2971 11.2971C10.0664 12.5278 9.375 14.197 9.375 15.9375V140.625H22.5V120.938C22.5 118.7 23.3889 116.554 24.9713 114.971C26.5536 113.389 28.6997 112.5 30.9375 112.5H89.0625C91.3003 112.5 93.4464 113.389 95.0287 114.971C96.6111 116.554 97.5 118.7 97.5 120.938V140.625H110.625V72.1875C110.625 70.447 109.934 68.7778 108.703 67.5471C107.472 66.3164 105.803 65.625 104.062 65.625H85.3125C82.725 65.625 80.625 63.525 80.625 60.9375V15.9375C80.625 15.0757 80.4553 14.2223 80.1255 13.4261C79.7957 12.6299 79.3123 11.9065 78.7029 11.2971C78.0935 10.6877 77.3701 10.2043 76.5739 9.87454C75.7777 9.54474 74.9243 9.375 74.0625 9.375H15.9375ZM4.6875 150C2.1 150 0 147.9 0 145.312V15.9375C0 11.7106 1.67912 7.65685 4.66798 4.66799C7.65685 1.67912 11.7106 0 15.9375 0H74.0625C78.2894 0 82.3432 1.67912 85.332 4.66799C88.3209 7.65685 90 11.7106 90 15.9375V56.25H104.062C108.289 56.25 112.343 57.9291 115.332 60.918C118.321 63.9068 120 67.9606 120 72.1875V145.312C120 147.9 117.9 150 115.312 150H4.6875ZM31.875 140.625H55.3125V121.875H31.875V140.625ZM64.6875 140.625H88.125V121.875H64.6875V140.625ZM37.5 37.5C37.5 39.4891 36.7098 41.3968 35.3033 42.8033C33.8968 44.2098 31.9891 45 30 45C28.0109 45 26.1032 44.2098 24.6967 42.8033C23.2902 41.3968 22.5 39.4891 22.5 37.5C22.5 35.5109 23.2902 33.6032 24.6967 32.1967C26.1032 30.7902 28.0109 30 30 30C31.9891 30 33.8968 30.7902 35.3033 32.1967C36.7098 33.6032 37.5 35.5109 37.5 37.5ZM30 71.25C31.9891 71.25 33.8968 70.4598 35.3033 69.0533C36.7098 67.6468 37.5 65.7391 37.5 63.75C37.5 61.7609 36.7098 59.8532 35.3033 58.4467C33.8968 57.0402 31.9891 56.25 30 56.25C28.0109 56.25 26.1032 57.0402 24.6967 58.4467C23.2902 59.8532 22.5 61.7609 22.5 63.75C22.5 65.7391 23.2902 67.6468 24.6967 69.0533C26.1032 70.4598 28.0109 71.25 30 71.25ZM37.5 90C37.5 91.9891 36.7098 93.8968 35.3033 95.3033C33.8968 96.7098 31.9891 97.5 30 97.5C28.0109 97.5 26.1032 96.7098 24.6967 95.3033C23.2902 93.8968 22.5 91.9891 22.5 90C22.5 88.0109 23.2902 86.1032 24.6967 84.6967C26.1032 83.2902 28.0109 82.5 30 82.5C31.9891 82.5 33.8968 83.2902 35.3033 84.6967C36.7098 86.1032 37.5 88.0109 37.5 90ZM60 45C61.9891 45 63.8968 44.2098 65.3033 42.8033C66.7098 41.3968 67.5 39.4891 67.5 37.5C67.5 35.5109 66.7098 33.6032 65.3033 32.1967C63.8968 30.7902 61.9891 30 60 30C58.0109 30 56.1032 30.7902 54.6967 32.1967C53.2902 33.6032 52.5 35.5109 52.5 37.5C52.5 39.4891 53.2902 41.3968 54.6967 42.8033C56.1032 44.2098 58.0109 45 60 45ZM67.5 63.75C67.5 65.7391 66.7098 67.6468 65.3033 69.0533C63.8968 70.4598 61.9891 71.25 60 71.25C58.0109 71.25 56.1032 70.4598 54.6967 69.0533C53.2902 67.6468 52.5 65.7391 52.5 63.75C52.5 61.7609 53.2902 59.8532 54.6967 58.4467C56.1032 57.0402 58.0109 56.25 60 56.25C61.9891 56.25 63.8968 57.0402 65.3033 58.4467C66.7098 59.8532 67.5 61.7609 67.5 63.75ZM60 97.5C61.9891 97.5 63.8968 96.7098 65.3033 95.3033C66.7098 93.8968 67.5 91.9891 67.5 90C67.5 88.0109 66.7098 86.1032 65.3033 84.6967C63.8968 83.2902 61.9891 82.5 60 82.5C58.0109 82.5 56.1032 83.2902 54.6967 84.6967C53.2902 86.1032 52.5 88.0109 52.5 90C52.5 91.9891 53.2902 93.8968 54.6967 95.3033C56.1032 96.7098 58.0109 97.5 60 97.5ZM97.5 90C97.5 91.9891 96.7098 93.8968 95.3033 95.3033C93.8968 96.7098 91.9891 97.5 90 97.5C88.0109 97.5 86.1032 96.7098 84.6967 95.3033C83.2902 93.8968 82.5 91.9891 82.5 90C82.5 88.0109 83.2902 86.1032 84.6967 84.6967C86.1032 83.2902 88.0109 82.5 90 82.5C91.9891 82.5 93.8968 83.2902 95.3033 84.6967C96.7098 86.1032 97.5 88.0109 97.5 90Z" fill="black"/>
                </svg>
              </div>
              <div class="col-8 d-flex align-items-center">
                <div class=''>
                  <h3 class='text-blue card-title' style='font-weight: 700'>Inclusive Workplace</h3>
                  <p class='card-text'>Make all your employees feel valued and promote diversity,
                    equity, and inclusion within your organization.</p>
                </div>
              </div>
            </div>
          </div>

          <%# CONTENT 2%>
          <div class="card h-100 col-12 col-md-6">
            <div class="row d-flex align-items-center">
              <div class="col-4 text-center text-lg-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="70%" height="auto" viewBox="0 0 135 124" fill="none">
                  <path d="M118.125 22.6894H95.7129V16.8851C95.7129 12.1362 94.0869 8.13475 90.835 4.88085C87.583 1.62695 83.584 0 78.8379 0H56.1621C51.416 0 47.417 1.62695 44.165 4.88085C40.9131 8.13475 39.2871 12.1362 39.2871 16.8851V22.6894H16.875C12.1289 22.6894 8.12988 24.2723 4.87793 27.4383C1.62598 30.6043 0 34.6496 0 39.5745V62C0 65.6936 1.8457 67.5404 5.53711 67.5404V112.655C5.53711 115.645 6.67969 118.284 8.96484 120.57C11.25 122.857 13.8867 124 16.875 124H118.125C121.113 124 123.75 122.857 126.035 120.57C128.32 118.284 129.463 115.645 129.463 112.655V67.5404C133.154 67.5404 135 65.6936 135 62V39.5745C135 34.6496 133.374 30.6043 130.122 27.4383C126.87 24.2723 122.871 22.6894 118.125 22.6894ZM50.625 16.8851C50.625 15.3021 51.1523 13.983 52.207 12.9277C53.2617 11.8723 54.5801 11.3447 56.1621 11.3447H78.8379C80.4199 11.3447 81.7383 11.8723 82.793 12.9277C83.8477 13.983 84.375 15.3021 84.375 16.8851V22.6894H50.625V16.8851ZM16.875 112.655V67.5404H50.625V84.4255C50.625 87.5915 51.7236 90.2738 53.9209 92.4723C56.1182 94.6709 58.7988 95.7702 61.9629 95.7702H73.0371C76.2012 95.7702 78.8818 94.6709 81.0791 92.4723C83.2764 90.2738 84.375 87.5915 84.375 84.4255V67.5404H118.125V112.655H16.875ZM61.9629 84.4255V67.5404H73.0371V84.4255H61.9629ZM123.662 56.4596H11.3379V39.5745C11.3379 35.705 13.1836 33.7702 16.875 33.7702H118.125C121.816 33.7702 123.662 35.705 123.662 39.5745V56.4596Z" fill="black"/>
                </svg>
              </div>
              <div class="col-8 d-flex align-items-center">
                <div class='mt-3 mt-lg-0'>
                  <h3 class='text-blue card-title' style='font-weight: 700'>Empower Your Career</h3>
                  <p class='card-text'>Assist your employees to reach the goals that are linked to
                    their strengths and potential with a structured and optimized plan.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <%# CONTENT 3%>
          <div class="card h-100 col-12 col-md-6 pe-0 pe-md-3">
            <div class="row d-flex align-items-center">
              <div class="col-4 text-center text-lg-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="70%" height="auto" viewBox="0 0 150 114" fill="none">
                  <path d="M132.929 1.8702C131.325 0.832694 129.491 0.205023 127.588 0.0423625C125.685 -0.120298 123.771 0.187035 122.015 0.937344L64.459 23.6058C63.0963 24.1604 61.6391 24.4456 60.1679 24.4454H23.3209C20.2284 24.4454 17.2625 25.674 15.0757 27.8608C12.889 30.0476 11.6604 33.0135 11.6604 36.1062V37.039H0V65.0248H11.6604V66.2376C11.7335 69.2814 12.9942 72.176 15.1731 74.3026C17.352 76.4293 20.2762 77.6193 23.3209 77.6185L37.3134 107.283C38.2609 109.281 39.7526 110.971 41.6172 112.159C43.4818 113.347 45.6436 113.985 47.8545 114H53.7313C56.8077 113.975 59.7497 112.736 61.9163 110.552C64.0829 108.368 65.2986 105.416 65.2985 102.339V78.7379L122.015 101.406C123.41 101.962 124.898 102.246 126.399 102.246C128.729 102.208 130.997 101.495 132.929 100.194C134.463 99.1577 135.729 97.7713 136.621 96.1491C137.513 94.5269 138.006 92.7156 138.06 90.8651V11.4787C138.051 9.58044 137.579 7.71301 136.685 6.03854C135.791 4.36407 134.502 2.9332 132.929 1.8702ZM53.6381 36.1062V66.2376H23.3209V36.1062H53.6381ZM53.6381 102.339H47.7612L36.2873 77.6185H53.6381V102.339ZM68.75 67.6368C67.6424 67.0708 66.4875 66.6026 65.2985 66.2376V35.4532C66.4762 35.2102 67.6309 34.8669 68.75 34.427L126.399 11.4787V90.5852L68.75 67.6368ZM138.34 39.3712V62.6927C141.432 62.6927 144.398 61.4641 146.585 59.2773C148.771 57.0905 150 54.1246 150 51.0319C150 47.9393 148.771 44.9734 146.585 42.7865C144.398 40.5997 141.432 39.3712 138.34 39.3712Z" fill="black"/>
                </svg>
              </div>
              <div class="col-8 d-flex align-items-center">
                <div class=''>
                  <h3 class='text-blue card-title' style='font-weight: 700'>LGBTQIA+ Marketing Commu</h3>
                  <p class='card-text'>Truly understand and cherish your LGBTQIA+ consumers with
                    effective marketing strategies and communications.</p>
                </div>
              </div>
            </div>
          </div>

          <%# CONTENT 4%>
          <div class="card h-100 col-12 col-md-6">
            <div class="row d-flex align-items-center">
              <div class="col-4 text-center text-lg-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="70%" height="auto" viewBox="0 0 143 150" fill="none">
                  <path d="M105.368 15C103.372 15 101.458 14.2098 100.047 12.8033C98.635 11.3968 97.8421 9.48912 97.8421 7.5C97.8421 5.51088 98.635 3.60322 100.047 2.1967C101.458 0.790176 103.372 0 105.368 0H135.474C137.47 0 139.384 0.790176 140.796 2.1967C142.207 3.60322 143 5.51088 143 7.5V37.5C143 39.4891 142.207 41.3968 140.796 42.8033C139.384 44.2098 137.47 45 135.474 45C133.478 45 131.563 44.2098 130.152 42.8033C128.74 41.3968 127.947 39.4891 127.947 37.5V25.605L84.3474 69.0525C82.936 70.4585 81.022 71.2484 79.0263 71.2484C77.0306 71.2484 75.1166 70.4585 73.7052 69.0525L52.6842 48.105L12.8474 87.8025C11.4279 89.1687 9.52678 89.9246 7.5534 89.9076C5.58002 89.8905 3.69233 89.1017 2.29689 87.7111C0.901452 86.3206 0.109917 84.4395 0.0927694 82.473C0.0756213 80.5065 0.834231 78.612 2.20521 77.1975L47.3631 32.1975C48.7745 30.7915 50.6885 30.0016 52.6842 30.0016C54.6799 30.0016 56.5939 30.7915 58.0053 32.1975L79.0263 53.145L117.305 15H105.368ZM15.0526 120V142.5C15.0526 144.489 14.2597 146.397 12.8482 147.803C11.4368 149.21 9.52242 150 7.52632 150C5.53021 150 3.61586 149.21 2.20441 147.803C0.792949 146.397 0 144.489 0 142.5V120C0 118.011 0.792949 116.103 2.20441 114.697C3.61586 113.29 5.53021 112.5 7.52632 112.5C9.52242 112.5 11.4368 113.29 12.8482 114.697C14.2597 116.103 15.0526 118.011 15.0526 120ZM52.6842 90C52.6842 88.0109 51.8913 86.1032 50.4798 84.6967C49.0683 83.2902 47.154 82.5 45.1579 82.5C43.1618 82.5 41.2474 83.2902 39.836 84.6967C38.4245 86.1032 37.6316 88.0109 37.6316 90V142.5C37.6316 144.489 38.4245 146.397 39.836 147.803C41.2474 149.21 43.1618 150 45.1579 150C47.154 150 49.0683 149.21 50.4798 147.803C51.8913 146.397 52.6842 144.489 52.6842 142.5V90ZM82.7895 97.5C84.7856 97.5 86.6999 98.2902 88.1114 99.6967C89.5228 101.103 90.3158 103.011 90.3158 105V142.5C90.3158 144.489 89.5228 146.397 88.1114 147.803C86.6999 149.21 84.7856 150 82.7895 150C80.7934 150 78.879 149.21 77.4676 147.803C76.0561 146.397 75.2632 144.489 75.2632 142.5V105C75.2632 103.011 76.0561 101.103 77.4676 99.6967C78.879 98.2902 80.7934 97.5 82.7895 97.5ZM127.947 67.5C127.947 65.5109 127.154 63.6032 125.743 62.1967C124.332 60.7902 122.417 60 120.421 60C118.425 60 116.511 60.7902 115.099 62.1967C113.688 63.6032 112.895 65.5109 112.895 67.5V142.5C112.895 144.489 113.688 146.397 115.099 147.803C116.511 149.21 118.425 150 120.421 150C122.417 150 124.332 149.21 125.743 147.803C127.154 146.397 127.947 144.489 127.947 142.5V67.5Z" fill="black"/>
                </svg>
              </div>
              <div class="col-8 d-flex align-items-center">
                <div class='mt-3 mt-lg-0'>
                  <h3 class='text-blue card-title' style='font-weight: 700'>Grow Your Business</h3>
                  <p class='card-text'>Smartly and effectively connect with a network of your partners
                    to reach your shared goals.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%# CONTACT FORM %>
<%= render 'contact_forms/form', contact_form: @contact_form %>
