// Specific CSS for your home-page
.banner {
  background: white;
  text-align: left;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#heading {
  // width: 60%;
  // padding-right: 100px;
  // margin-right: 100px;

  h1{
    color: $blue;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    // width: 674px;
    // height: 149px;

  }

  p {
  color: #21111D;
  /* Description1 */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
}

#brands {
  background: #F2F2F2;
}

#counter {
  background: $blue;
  color: white;
}
.counter {
  // font-size: 24px;
  text-align: center;
  animation: count-up 2s ease-in-out forwards;
  h1 {
    font-weight: 700;
    margin-bottom: 0;
  }
  p {
    font-weight: 400;
  }
}

@keyframes count-up {
  from {
    // transform: translateY(50px);
    opacity: 0;
  }
  to {
    // transform: translateY(0);
    opacity: 1;
  }
}

#service {
  background: white;
    h1{
      color: $purple;
      font-weight: 700;
      font-style: normal;
    }

    h2{
      font-weight: 700;
    }

    p{
      font-weight: 400;
    }
    .card {
      border: none;
      border-radius: 20px;
    }
}

#contact {
  background: $light-blue;

  h1 {
    font-weight: 700;
  }
}
