<div class="container">
  <swiper-container class="mySwiper my-3" space-between="30" pagination="true" pagination-clickable="true"
    centered-slides="true" autoplay-delay="6000" autoplay-disable-on-interaction="false">
    <% @news_posts.each do |post| %>
      <% if post.is_pinned? %>

        <swiper-slide>
          <%= link_to news_post_path(post), class: 'text-decoration-none' do %>
            <div class='p-5'>
              <%# <div class="card p-3 mx-auto" style="max-width: 800px;"> %>
              <div class="card p-3" style="">
                <div class="row p-3">
                  <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                    <div class="card-img-container square-container"
                      style="background-image: url('<%= cl_image_path post.photos.first.key%>');">
                    </div>
                  </div>

                  <div class="col-12 col-md-8 d-flex mt-lg-0 mt-md-0 mt-sm-3 align-items-center justify-content-center">
                    <div class="card-body">
                      <h2 class="card-title text-blue" style='font-weight: 700; font-size: 2em;'>
                        <%= post.title %>
                      </h2>
                      <p class="card-text mt-3" style='font-weight: 400; font-size:1em;'>
                        <%= raw(truncate(strip_tags(post.content.html_safe),
                        length: 200, omission: ' (Read more)'))%>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          <% end %>
        </swiper-slide>

      <% end %>
    <% end %>
  </swiper-container>
</div>
