<%# BANNER %>
<div style='margin-top: 100px'>
  <div class='page-banner mt-5 mt-lg-2' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%= image_path 'new_post_banner.jpg'%>)">
    <h1>News</h1>
  </div>
</div>

<%# PINNED  3 POSTS %>
<%= render 'pinned_posts' %>

<%# LATEST NEWS %>
<%= render 'post_cards' %>

<%# CONTACT FORM %>
<%= render 'contact_forms/form', contact_form: @contact_form %>
