<%# BANNER %>
<div style='margin-top: 100px'>
  <div id="post-banner" class='mt-5 mt-lg-2'>
    <h1>News</h1>
  </div>
</div>

<%# PINNED  3 POSTS %>
<%= render 'pinned_posts' %>

<%# LATEST NEWS %>
<%= render 'post_cards' %>
