<h1>NewsPosts#show</h1>
<p>Find me in app/views/news_posts/show.html.erb</p>


<div class="container d-flex p-5 flex-column border border-2 rounded">
  <div class="row pb-3 align-content-center">
    <h1>'CATEGORY' offered by 'USERFIRST NAME' "LASTNAME".</h1>
  </div>

  <div class="row justify-content-between align-content-center">
    <div class="col-3">
      'IMAGE'
    </div>

    <div class="col-6 pe-10 me-10">

        <h2 class='mb-3'>"MODEL", 'BRAND'</h2>


      <div class="d-flex">
          <div class="me-3 bg-primary text-white align-self-center">Located in</div>
          <div class='bg-primary text-white' style="font-size: 2rem;"> "CITY" </div>
      </div>

      <div class="d-flex align-items-center">
        <p>for </p><h3>"78" € </h3><p>  per day.</p>
      </div>

      <p>Description: 'description' </p>

    </div>

  </div>

</div>
