<div data-controller="image-modal">

  <swiper-container class="mt-5 mb-3" slides-per-view="3" space-between="20"
    centered-slides="true" navigation="true" autoplay-delay="2000"
    autoplay-disable-on-interaction="false" loop="true">

    <% @blog_post.photos.each do |photo| %>
      <swiper-slide>
        <div class="container d-none">
          <div class="photos" style="background-image: url('<%= cl_image_path photo.key %>');"
            data-action="click->image-modal#openModal">
          </div>
        </div>
      </swiper-slide>
    <% end %>

  </swiper-container>

  <div id="imageModal" class="modal" data-image-modal-target="modal">
      <%# Close Icon %>
      <span class="close" style="margin-top: 80px" data-action="click->image-modal#closeModal">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
          <line x1="18" x2="6" y1="6" y2="18" />
          <line x1="6" x2="18" y1="6" y2="18" />
        </svg>
      </span>
      
      <div class="container photo-post-show" style="margin-top: 120px">
        <img class="modal-content" id="fullImage" data-image-modal-target="fullImage">
      </div>
  </div>
</div>
