<div data-controller="image-modal">

  <swiper-container class="mt-5 mb-3" slides-per-view="3" space-between="20"
    centered-slides="true" navigation="true" autoplay-delay="2000"
    autoplay-disable-on-interaction="false" loop="true">

    <% @blog_post.photos.each do |photo| %>
      <swiper-slide>
        <div class="container d-none">
          <div class="photos" style="background-image: url('<%= cl_image_path photo.key %>');"
            data-action="click->image-modal#openModal">
          </div>
        </div>
      </swiper-slide>
    <% end %>

  </swiper-container>

  <div id="imageModal" class="modal" data-image-modal-target="modal">

    <span class="close" data-action="click->image-modal#closeModal">&times;</span>
    <img class="modal-content" id="fullImage" data-image-modal-target="fullImage">

  </div>
</div>
