<div id="service" class="text-center p-5">
  <div class="container">
    <h1>Our Services</h1>
    <div class="row justify-content-center mt-5">
      <div class="card py-4 col-lg-3 col-md-6 col-sm-12 me-lg-3 me-md-2 mb-3 mb-lg-0">
        <div class="mt-3">
          <%# ICON CONSULT %>
          <svg xmlns="http://www.w3.org/2000/svg" width="61" height="65" viewBox="0 0 59 63" fill="none">
            <path d="M25.5693 0C21.6942 0 17.9778 1.53937 15.2377 4.27947C12.4976 7.01957 10.9583 10.7359 10.9583 14.611C10.9583 18.4861 12.4976 22.2025 15.2377 24.9426C17.9778 27.6827 21.6942 29.2221 25.5693 29.2221C29.4444 29.2221 33.1608 27.6827 35.9009 24.9426C38.641 22.2025 40.1803 18.4861 40.1803 14.611C40.1803 10.7359 38.641 7.01957 35.9009 4.27947C33.1608 1.53937 29.4444 0 25.5693 0ZM7.33839 32.8748C6.37639 32.871 5.42309 33.0571 4.53316 33.4224C3.64324 33.7878 2.83419 34.3253 2.15242 35.004C1.47065 35.6827 0.929571 36.4893 0.56021 37.3776C0.190849 38.2659 0.000473076 39.2183 0 40.1803C0 46.3571 3.04275 51.0144 7.79864 54.0499C11.7363 56.5593 16.8283 57.9583 22.3731 58.3382L23.7064 53.9622C22.5232 51.3544 21.9128 48.5232 21.9165 45.6595C21.9165 40.8013 23.6406 36.3449 26.5081 32.8748H7.33839ZM58.4441 45.6595C58.4447 48.5206 57.6984 51.3322 56.2791 53.8165C54.8599 56.3007 52.8168 58.3715 50.3518 59.8241C47.8869 61.2766 45.0855 62.0606 42.2247 62.0986C39.3638 62.1365 36.5426 61.427 34.04 60.0404L27.5016 62.0275C27.2429 62.1046 26.9682 62.1103 26.7065 62.044C26.4448 61.9778 26.2059 61.8421 26.015 61.6512C25.8241 61.4603 25.6884 61.2214 25.6221 60.9597C25.5559 60.698 25.5616 60.4233 25.6387 60.1646L27.6258 53.6298C26.4109 51.4352 25.7144 48.9917 25.5897 46.4864C25.4649 43.9811 25.9151 41.4805 26.906 39.176C27.8968 36.8716 29.4018 34.8245 31.3059 33.1915C33.21 31.5585 35.4625 30.383 37.891 29.7549C40.3195 29.1269 42.8596 29.0629 45.3166 29.568C47.7736 30.0731 50.0825 31.1339 52.0663 32.669C54.0501 34.2041 55.6562 36.1729 56.7617 38.4246C57.8672 40.6763 58.4427 43.1511 58.4441 45.6595ZM34.7012 40.1803C34.2168 40.1803 33.7523 40.3727 33.4097 40.7153C33.0672 41.0578 32.8748 41.5223 32.8748 42.0067C32.8748 42.4911 33.0672 42.9556 33.4097 43.2982C33.7523 43.6407 34.2168 43.8331 34.7012 43.8331H49.3122C49.7966 43.8331 50.2612 43.6407 50.6037 43.2982C50.9462 42.9556 51.1386 42.4911 51.1386 42.0067C51.1386 41.5223 50.9462 41.0578 50.6037 40.7153C50.2612 40.3727 49.7966 40.1803 49.3122 40.1803H34.7012ZM32.8748 49.3122C32.8748 49.7966 33.0672 50.2612 33.4097 50.6037C33.7523 50.9462 34.2168 51.1386 34.7012 51.1386H42.0067C42.4911 51.1386 42.9556 50.9462 43.2982 50.6037C43.6407 50.2612 43.8331 49.7966 43.8331 49.3122C43.8331 48.8278 43.6407 48.3633 43.2982 48.0208C42.9556 47.6783 42.4911 47.4858 42.0067 47.4858H34.7012C34.2168 47.4858 33.7523 47.6783 33.4097 48.0208C33.0672 48.3633 32.8748 48.8278 32.8748 49.3122Z" fill="#636363"/>
          </svg>
        </div>
        <div class="card-body mt-3">
          <h2 class="card-title mb-3">Consult</h2>
          <p class="card-text mt-4 mb-5">Foster inclusive workplace, empower careers, LGBTQIA+ marketing, and network strategy for holistic organizational growth and success.</p>
          <%= render 'shared/see_more_button' %>
        </div>
      </div>

      <div class="card py-4 col-lg-3 col-md-6 col-sm-12 me-lg-3 me-md-2 mb-3 mb-lg-0">
        <div class="mt-3">
          <%# ICON TRAINING %>
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="65" viewBox="0 0 54 63" fill="none">
            <path d="M52.996 12.7762C52.7948 12.6146 52.5535 12.5108 52.2979 12.4759C52.0423 12.4409 51.782 12.4761 51.5448 12.5778L28.4501 22.5783C27.4459 23.0158 26.1884 23.2238 24.8974 23.2238C23.0971 23.231 21.2347 22.8126 19.9366 22.2436C19.541 22.077 19.1643 21.8686 18.8129 21.622C18.9085 21.5742 19.0281 21.5216 19.1596 21.469L40.1648 12.3746L43.2967 13.7134V9.79971C43.3014 9.52061 43.243 9.24406 43.1259 8.9907C43.0087 8.73734 42.8358 8.51373 42.6201 8.33656C42.4198 8.17517 42.1793 8.07141 41.9245 8.03645C41.6696 8.00149 41.4101 8.03664 41.1737 8.13813L18.0789 18.1387C17.3665 18.4256 16.7545 18.7794 16.2381 19.2934C15.6401 19.8834 15.3004 20.6864 15.2937 21.5264C15.2937 21.5503 15.3009 21.5909 15.3009 21.5909V56.8069L15.2961 56.8547C15.2961 56.8642 15.3033 56.869 15.3033 56.8786V56.9168H15.308C15.3559 58.1481 15.9775 58.9322 16.5704 59.4869C18.4352 61.1317 21.5671 62.0522 24.8998 62.1C26.4777 62.1 28.0795 61.8609 29.5618 61.225L52.6637 51.222C53.2733 50.959 53.6726 50.3064 53.6726 49.5676V14.2394C53.6763 13.9604 53.6174 13.6842 53.5003 13.431C53.3832 13.1778 53.2109 12.9541 52.996 12.7762ZM38.3478 6.08207C38.3072 5.55611 38.0896 5.05405 37.7023 4.75281C37.5012 4.59124 37.2598 4.48742 37.0042 4.45246C36.7486 4.41751 36.4883 4.45274 36.2511 4.55438L13.1564 14.5502C12.1522 14.9853 10.8923 15.1957 9.60369 15.1957C7.80344 15.2004 5.94104 14.7821 4.64286 14.2107C4.24685 14.0468 3.87004 13.84 3.5192 13.5938C3.61483 13.546 3.73437 13.4934 3.86586 13.4408L24.8735 4.34638L28.0054 5.68521V1.77631C28.0096 1.49705 27.9508 1.22043 27.8332 0.967088C27.7157 0.713744 27.5424 0.490213 27.3264 0.313167C27.1256 0.151803 26.8847 0.0480906 26.6295 0.013136C26.3743 -0.0218186 26.1144 0.0133013 25.8776 0.114734L2.78285 10.1177C2.0704 10.4046 1.46076 10.756 0.94196 11.2724C0.344847 11.8628 0.00611631 12.6657 0 13.5054C0 13.5341 0.00717176 13.5723 0.00717176 13.5723V48.9006H0.0119541C0.0597693 50.1318 0.681367 50.916 1.27428 51.4707C3.13907 53.1155 6.27097 54.0336 9.60608 54.0814C10.5118 54.076 11.4146 53.9783 12.3005 53.7897V21.5886C12.2766 19.915 12.946 18.3084 14.1222 17.1513C14.9371 16.3608 15.9054 15.7457 16.9672 15.3439L38.3478 6.08207Z" fill="#636363"/>
          </svg>
        </div>
        <div class="card-body mt-3">
          <h2 class="card-title mb-3">Training</h2>
          <p class="card-text mt-4 mb-5">Foster inclusive workplace, empower careers, LGBTQIA+ marketing, and network strategy for holistic organizational growth and success..</p>
          <%= render 'shared/see_more_button' %>
        </div>
      </div>

      <div class="card py-4 col-lg-3 col-md-6 col-sm-12 me-md-2">
        <div class="mt-3">
          <%# ICON SPEAKER %>
          <svg xmlns="http://www.w3.org/2000/svg" width="69" height="65" viewBox="0 0 67 63" fill="none">
            <path d="M42.0676 7.95498C44.7279 10.8959 46.6229 14.4468 47.5851 18.2939C48.5474 22.1411 48.5472 26.166 47.5847 30.013L47.3397 30.917L59.0709 46.0053C60.0585 47.275 60.7006 48.7787 60.9346 50.3701C61.1686 51.9615 60.9866 53.5864 60.4062 55.0866C60.8212 55.1996 61.2565 55.2173 61.6794 55.1384L62.0934 55.0349C62.9577 54.7591 63.8957 54.8349 64.7045 55.2457C65.5134 55.6565 66.1279 56.3693 66.415 57.2298C66.7021 58.0904 66.6388 59.0294 66.2388 59.8436C65.8387 60.6578 65.1341 61.2816 64.2775 61.5802C62.0344 62.3526 59.584 62.2615 57.4044 61.3248C56.7258 61.0379 56.0821 60.6744 55.486 60.2414C54.0556 60.8734 52.4892 61.135 50.9311 61.0024C49.3729 60.8697 47.8733 60.347 46.5703 59.4824L46.0045 59.0718L30.9196 47.3406C26.9615 48.4956 22.7737 48.6181 18.7549 47.6965C14.7361 46.7748 11.0202 44.8397 7.96102 42.0754C15.3326 38.4753 22.0536 33.6735 27.8488 27.8669C33.661 22.0663 38.4664 15.3346 42.0676 7.95498ZM36.5747 3.43504C33.2438 10.7118 28.6361 17.333 22.97 22.9847C17.3216 28.6458 10.7053 33.2498 3.43417 36.579C0.666965 31.9592 -0.477663 26.5474 0.182017 21.2028C0.841698 15.8582 3.26788 10.8872 7.07536 7.07891C10.8828 3.27064 15.8534 0.843428 21.1978 0.182634C26.5423 -0.478159 31.9543 0.668792 36.5747 3.43504Z" fill="#636363"/>
          </svg>
        </div>
        <div class="card-body mt-3">
          <h2 class="card-title mb-3">Speaker</h2>
          <p class="card-text mt-4 mb-5">Foster inclusive workplace, empower careers, LGBTQIA+ marketing, and network strategy for holistic organizational growth and success.</p>
          <%= render 'shared/see_more_button' %>
        </div>
      </div>

    </div>
  </div>
</div>
