<div class="banner">
  <div class="container d-md-flex justify-content-between align-items-center">
    <div class="row">
      <div class="col-md-7 mt-md-5">
        <div id="heading" class="text-md-start text-center mb-4 mb-md-0">
          <h1 class="mb-3">Do your DE&I Strategy Right, Before People Leave</h1>
          <p class="mb-5">When workplaces are diverse and inclusive, your profit, people, and purpose thrive</p>
          <div class="text-center text-md-start">
            <%= render 'shared/get_in_touch_btn' %>
          </div>
        </div>
      </div>
      <div class="col-md-5 text-md-end text-center">
        <%= image_tag "banner.png", alt: "banner", class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>
