<div class="banner">
  <div class="container mt-lg-5 mt-0">
    <div class="row text-lg-start text-center">
      <div class="col-lg-7 d-flex align-items-center">
        <div id="heading" class='mb-5 mb-lg-0'>
          <h1 class="mb-3">Do your DE&I Strategy Right, Before People Leave</h1>
          <p class="mb-5">When workplaces are diverse and inclusive, your profit, people, and purpose thrive</p>
          <%= render 'shared/get_in_touch_btn', class: 'mb-lg-0 mb-5' %>
        </div>
      </div>
      <div class="col-lg-5">
        <div id="banner-img" class='' style="background-image: url('<%= image_path 'banner.jpg'  %>')">
        </div>
      </div>
    </div>

  </div>
</div>
