<div class="container my-5">
  <h1 class='text-center mb-5'>Who we are</h1>
    <div>
      <div class="row">
        <div class="col-lg-6 text-end">
          <div class='ratio ratio-16x9'>
            <iframe style='border-radius: 10px'width="560" height="315"
              src="https://www.youtube.com/embed/CRrQrwuTjNw?si=D3sayWArug9Dba7r"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-lg-5 ms-0 ms-lg-5 mt-5 mt-lg-0 d-flex align-items-center">
          <div>
            <h3 style='font-weight: 700; margin-bottom: 25px'>"DE&I is a long-term business driver. It’s the right thing to do, not just nice to have."</h3>
            <p>Nikki is a communication strategic consultant who plays basketball, competes in Spartan races, fills her brain up with people & power management books/podcasts, and has a network obsessed with growth. She became a PR Director before turning 30 years old.</p>
          </div>
        </div>
      </div>
    </div>
</div>

<%# Ready-Banner %>
<div id="ready-banner" class="py-5"
  style="background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url('<%= image_path 'ready_banner.jpg' %>')">
  <div class='my-5'>
    <h1>Ready to make the change?</h1>
    <p class='mb-5'>Let us show you how to make your corperation grow and succeed.</p>
    <%= link_to "Get in Touch", "#contact", class: 'py-2', id: 'btn-get-in-touch-white' %>
  </div>
</div>
