#post-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),asset-url('new_post_banner.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 25%;
  position: relative;

  h1 {
    color: white;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
