.text-purple {
  color: $purple ;
}

#blog-title {
  font-family: 'Poppins';
  font-weight: 700;
}

.blog-content {
  a {
    text-decoration: none;
  }
}

.text-blue {
  color: $blue;
}

.paginate-style {
  a {
    text-decoration: none;
    background: white;
    color: $blue;
    border: 1px solid $blue;
    font-weight: 400;
    padding: 5px;
    border-radius: 4px;

    &:hover{
      background: $blue;
      color: white;
    }
  }
}

.news-posts-heading {
  color: $blue;
  font-weight: 700;
  font-size: 2.2rem;
}

.news-post-content {
  font-size: 1.2rem;
  font-weight: 400;
  a {
    text-decoration: none;
    &:hover{
      font-weight: 600;
    }
  }
  strong {
    color: $blue
  }
}

.news-post-details{
  color: #636363;
  border-bottom: 0.5px solid #636363;
}

.dot {
  font-size: 0.3rem;
}



.tag-names {
  border-bottom: 0.5px solid #636363;
}

.badge {
  background: #636363;
  padding: 8px;
  border-radius: 3px;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 400;
}
