.text-purple {
  color: $purple ;
}

#blog-title {
  font-family: 'Poppins';
  font-weight: 700;
}

.blog-content {
  a {
    text-decoration: none;
  }
}

.text-blue {
  color: $blue;
}

.paginate-style {
  a {
    text-decoration: none;
    background: white;
    color: $blue;
    border: 1px solid $blue;
    font-weight: 400;
    padding: 5px;
    border-radius: 4px;

    &:hover{
      background: $blue;
      color: white;
    }
  }
}
